/*-----------------------------------------------------------------------------------------------*/

.clBlock
{
  line-height:          2.000rem;
}

.clI1
{
  color:                #0055aa !important;
  font-size:            1.400rem;
  line-height:          2.000rem;
  vertical-align:       top;
  margin:               0.000rem 0.000rem 0.000rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
}

.clI2
{
  color:                #00641b !important;
  font-size:            1.400rem;
  line-height:          2.000rem;
  vertical-align:       top;
  margin:               0.000rem 0.000rem 0.000rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
}


/*
.clI1::before
{
  color:                light-dark(#0070E0, #0070E0);
  content:              '🞉';
}

.clI2::before
{
  color:                light-dark(#00A32E, #00A32E);
  content:              '🞉';
}
*/

/*-----------------------------------------------------------------------------------------------*/
