/*-----------------------------------------------------------------------------------------------*/

#id-A01-Z,
#id-A02-Z,
#id-М01-Z
{
  background:           #e0e0e0;
  color:                #e0e0e0;
  border-radius:        0.400rem !important;
  display:              inline-block;
  margin:               0.000rem 0.000rem 0.000rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
  width:                2.600rem !important;
}

/*-----------------------------------------------------------------------------------------------*/
