/*-----------------------------------------------------------------------------------------------*/

#idVarZ
{
  background:           #E0E0E0;
  color:                #E0E0E0;
  border-radius:        0.400rem !important;
  display: inline-block;
  margin:               0.000rem 0.000rem 0.000rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
  width:                2.600rem !important;
/*
  visibility:           hidden;
*/
}

/*-----------------------------------------------------------------------------------------------*/
