/*-----------------------------------------------------------------------------------------------*/

h1
{
  color:                #995f46;
  font-size:            1.400rem;
  font-weight:          600;
  margin:               1.500rem 0.000rem 1.000rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
}

/*-----------------------------------------------------------------------------------------------*/
