
/*-----------------------------------------------------------------------------------------------*/
.clImageThumb
{
  height:               auto !important;
  width:                100px !important;
  margin:               0.000rem 0.100rem 0.000rem 0.100rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
}
/*-----------------------------------------------------------------------------------------------*/
