/*-----------------------------------------------------------------------------------------------*/

.dh
{
  color:                light-dark(#007800, #00b400);
  display:              inline-block;
  font-size:            1.200rem;
  line-height:          2.000rem;
  margin:               1.000rem 0.000rem 0.000rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
  word-wrap:            break-word !important;
}

.d
{
  color:                light-dark(#007800, #00b400);
  font-size:            1.200rem;
  margin:               0.600rem 0.000rem 0.000rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
}

h2
{
  margin-top:           2.800rem;
}

/*-----------------------------------------------------------------------------------------------*/
