/*-----------------------------------------------------------------------------------------------*/

.l
{
  color:                #003399;
  font-size:            85%;
  font-weight:          bold !important;
  margin:               0.000rem 0.000rem 0.000rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
  text-align:           right;
  vertical-align:       top;
  width:                1.000rem;
  max-width:            1.000rem;
}

/*-----------------------------------------------------------------------------------------------*/
